@model List<FilmsLib.Models.Film>

@{
    ViewData["Title"] = "Таблиця фільмів";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Error
    </div>
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewBag.Message
    </div>
}
<div class="d-flex">
    <h3 class="text-dark mr-2">Фільми</h3>
    <a asp-controller="Film" asp-action="Create" class="btn btn-dark btn-sm mb-2">
        <i class="fas fa-plus align-self-center"></i>
    </a>
</div>
<table class="table genres table-borderless data-table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="visible">ID</th>
            <th scope="col" class="visible">Нзава</th>
            <th scope="col" class="visible">Рік</th>
            <th scope="col" class="visible">Тривалість</th>
            <th scope="col" class="visible">Мова</th>
            <th scope="col" class="visible">Режисер</th>
            <th scope="col" class="visible">Жанри</th>
            <th scope="col" class="visible">Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Year</td>
                <td>@item.Duration</td>
                <td>@item.Language.Name</td>
                <td>@item.Director.FirstName @item.Director.LastName</td>
                <td>
                    @foreach (var gen in item.FilmGenres)
                    {
                        @gen.Genre.Name @:&nbsp;
                    }
                </td>
                <td class="d-flex">
                    <a asp-action="Details" asp-controller="Film" asp-route-id="@item.Id" class="btn btn-dark btn-sm mr-1">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Film" asp-route-id="@item.Id" class="btn btn-dark btn-sm mr-1">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" onclick="return confirm('Ви впевнені?')" class="btn btn-dark btn-sm">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>