@model List<FilmsLib.Models.Film>

@{
    ViewData["Title"] = "Фільми";
}


<div class="row justify-content-between align-content-start mb-2">
    <h2 class="text-dark mr-auto">Фільми</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3 p-1">
            <div class="card text-white bg-dark shadow">
                <a asp-controller="Film" asp-action="Details" asp-route-id="@item.Id">
                    <div class="card-header text-white font-weight-bold"><h6>@item.Name (@item.Year)</h6></div>
                </a>
                @if (item.Cover != null)
                {
                    <img class="p-2 card-img film-poster align-self-center" src="@Url.Action("GetImage", "Film", new { Id = item.Id })">
                }
                else
                {
                    <img class="p-2 card-img film-poster align-self-center" style="object-fit:contain" src="~/images/placeholder.png">
                }
                <div class="card-body">
                    <p class="card-text">
                        <span class="font-weight-bold">Жанри:</span>
                        @foreach (var gen in item.FilmGenres)
                        {
                            <span>@gen.Genre.Name</span>
                        }
                    </p>
                    <p class="card-text"><span class="font-weight-bold">Режисер:&nbsp;</span>@item.Director.FirstName @item.Director.LastName</p>
                </div>
            </div>
        </div>
    }
</div>

